<h1>Chat</h1>

<label for="user">Usuario</label><input id="inputUser" name="user" type="text" disabled>
<label for="message">Mensaje</label><input id="inputMessage" name="message" type="text">
<button id="btnEnviar">enviar</button>

<h3>Chat</h3>
<div id="mensajes">


</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chats.js"></script>