<h5 class="text-center mt-5">REGISTRO usuario</h5>

<form id="formUserRegister" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_first_name"  class="w-50 mt-2">Nombre</label>
    <input id="input_first_name" type="text" placeholder="Nombre" class="w-50 mt-2">

        <label for="input_last_name"  class="w-50 mt-2">Apellido</label>
    <input id="input_last_name" type="text" placeholder="Apellido" class="w-50 mt-2">

        <label for="input_email" class="w-50 mt-2">Email</label>
    <input id="input_email" type="text" placeholder="Email" class="w-50 mt-2">

        <label for="input_age" class="w-50 mt-2">Edad</label>
    <input id="input_age" type="text" placeholder="Edad" class="w-50 mt-2">

        <label for="input_password" class="w-50 mt-2">Contraseña</label>
    <input id="input_password" type="password" placeholder="input_password" class="w-50 mt-2">
    <button type="submit" class="btn btn-success w-50 mt-4"> Registrarme! </button>  
</form>
 <div>
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4">¡ Ingresar con GITHUB! </button>
    </a>    
 </div>

<script src="/js/userRegister.js"> </script>