<h5 class="text-center mt-5">FORMULARIO DE LOGIN</h5>
<form id="formUserLogin" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_email"class="w-50 mt-2">Email</label>
    <input id="input_email" type="text" placeholder="input_email"class="w-50 mt-2">

    <label for="input_password"class="w-50 mt-2">Contraseña</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">
    <button type="submit" class="btn btn-success mt-4">¡ Iniciar sesion! </button>
</form>
 <div>
    <button class="btn btn-outline-success  mt-4" onClick=goToRegister()>¡ Quiero registrarme! </button> 
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4">¡ Ingresar con GITHUB! </button>
    </a>    
 </div>
<script src="/js/userLogin.js"> </script>